@model IEnumerable<kpurganaa.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="vh-100" >
    <div>
        <h1 class="text-center">Usuarios</h1>
        <p class="text-center">
            <a asp-action="Create" class="bi bi-file-plus btn btn-success">Nuevo Usuario</a>
        </p>
    </div>
    <table class="table table-striped table-sm table-hover">
        <thead class=" table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CorreoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaveUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPersonasNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdRolNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
            <tbody class="table" >
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersonasNavigation.IdPersonas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="bi bi-pen  btn btn-primary btn-warning text-black"></a>
                        <a asp-action="Details" asp-route-id="@item.IdUsuario" class="bi bi-file-earmark-zip  btn btn-primary text-black"></a>
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="bi bi-archive  btn btn-danger text-black"></a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>